.git
.gitignore
node_modules
npm-debug.log*

/tmp
/coverage
/dist

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc
*.xdv
