EASY_LATEX_PORT=9999
EASY_LATEX_DATA_DIR=/var/lib/easy-latex
EASY_LATEX_SESSION_TTL_HOURS=12
EASY_LATEX_GUEST_RETENTION_HOURS=24
EASY_LATEX_MAX_CONCURRENT_USERS=10
EASY_LATEX_USER_QUOTA_MB=256
EASY_LATEX_GUEST_QUOTA_MB=256
EASY_LATEX_COMPILE_CONCURRENCY=2
EASY_LATEX_DEFAULT_ENGINE=xelatex
EASY_LATEX_SAFE_WALL_SECONDS=45
EASY_LATEX_RELAXED_WALL_SECONDS=60
EASY_LATEX_SAFE_MEMORY_MB=768
EASY_LATEX_RELAXED_MEMORY_MB=1024
