node_modules/

.env
.env.local
.env.*.local

npm-debug.log*

.DS_Store
.idea/
.vscode/

coverage/
dist/

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc
*.xdv

tmp/
